# Project-2
## Tanvir Khan, Nicky Pant, Paul Pineda, James Ye, Fabienne Zumbuehl
### Load CSV Files into Postgres database (StocksDataBase)

In [15]:
import pandas as pd
#from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
from sqlalchemy import create_engine
import psycopg2

In [16]:
# Creating connection with database
# StocksDataBase is database name for this project
connection_string = "postgres:postgres@localhost:5432/StocksDataBase"
engine = create_engine(f'postgresql://{connection_string}')

In [18]:
# Confirm tables
engine.table_names()

['company', 'price']

# Load company.csv file

In [10]:
company_df = pd.read_excel("data/company.xlsx");
company_df.head()

,ranking,name,ticker,mkt_cap,pe_ratio,eps,dividend_pct,exchange,esg_score,recom_rating,sector,industry,country,city,latitude,longitude
0,1,Walmart,WMT,339.211,22.78,5.26,1.81,NYSE,29.0,1.9,Consumer Defensive,Discount Stores,USA,Bentonville,36.365265,-94.219827
1,2,Sinopec Group,SHI,4.377,2.54,9.40,7.08,NYSE,NaN,4,Energy,Oil & Gas Refining & Marketing,China,Peking,30.711817,121.329752
2,3,Royal Dutch Shell,RDS.A,121.519,13.36,2.45,3.83,NYSE,NaN,2.4,Energy,Oil & Gas Integrated,Netherlands,The Hague,52.093801,4.310453
3,4,China National Petroleum,SNP,62.697,4.61,9.10,10.27,NYSE,NaN,2,Energy,Oil & Gas Integrated,China,Peking,39.957500,115.937337
4,5,State Grid,600517,38.199,NaN,-0.01,NaN,SSE,NaN,NaN,Industrials,Electrical Equipment & Parts,China,Peking,31.218328,121.357731

In [11]:
# rerange column position to match database table columns
company_df = company_df[["ticker","name", "ranking", "mkt_cap", "pe_ratio", "eps", "dividend_pct", "exchange", "esg_score", "recom_rating", "sector", "industry", "country", "city", "latitude", "longitude"]]
company_df.head()

,ticker,name,ranking,mkt_cap,pe_ratio,eps,dividend_pct,exchange,esg_score,recom_rating,sector,industry,country,city,latitude,longitude
0,WMT,Walmart,1,339.211,22.78,5.26,1.81,NYSE,29.0,1.9,Consumer Defensive,Discount Stores,USA,Bentonville,36.365265,-94.219827
1,SHI,Sinopec Group,2,4.377,2.54,9.40,7.08,NYSE,NaN,4,Energy,Oil & Gas Refining & Marketing,China,Peking,30.711817,121.329752
2,RDS.A,Royal Dutch Shell,3,121.519,13.36,2.45,3.83,NYSE,NaN,2.4,Energy,Oil & Gas Integrated,Netherlands,The Hague,52.093801,4.310453
3,SNP,China National Petroleum,4,62.697,4.61,9.10,10.27,NYSE,NaN,2,Energy,Oil & Gas Integrated,China,Peking,39.957500,115.937337
4,600517,State Grid,5,38.199,NaN,-0.01,NaN,SSE,NaN,NaN,Industrials,Electrical Equipment & Parts,China,Peking,31.218328,121.357731

In [12]:
# remove old company data
engine.execute("delete from company")
result = engine.execute("select * from company")
rows = result.fetchall()
if len(rows) == 0:
    print("company table empty")
else:
    for row in rows:
        print(row)
result.close();

company table empty

In [13]:
# load company dataframe into database
company_df.to_sql(name='company', con=engine, if_exists='append', chunksize = 20, index=False)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "(Strong buy) 1"
LINE 1: ... 96, 13.881, 5.88, NULL, NULL, 'Other OTC', NULL, '(Strong b...
                                                             ^

[SQL: INSERT INTO company (ticker, name, ranking, mkt_cap, pe_ratio, eps, dividend_pct, exchange, esg_score, recom_rating, sector, industry, country, city, latitude, longitude) VALUES (%(ticker)s, %(name)s, %(ranking)s, %(mkt_cap)s, %(pe_ratio)s, %(eps)s, %(dividend_pct)s, %(exchange)s, %(esg_score)s, %(recom_rating)s, %(sector)s, %(industry)s, %(country)s, %(city)s, %(latitude)s, %(longitude)s)]
[parameters: ({'ticker': 'E ', 'name': 'ENI', 'ranking': 83, 'mkt_cap': 33.52, 'pe_ratio': 5.09, 'eps': None, 'dividend_pct': 0.0993, 'exchange': 'NYSE', 'esg_score': None, 'recom_rating': 2, 'sector': 'Energy', 'industry': 'Oil & Gas Integrated', 'country': 'Italy', 'city': 'Rome', 'latitude': 41.827179, 'longitude': 12.471521}, {'ticker': 'DELL', 'name': 'dell technologies', 'ranking': 84, 'mkt_cap': 38.708, 'pe_ratio': 8.95, 'eps': None, 'dividend_pct': None, 'exchange': 'NYSE', 'esg_score': 17.0, 'recom_rating': 2.4, 'sector': 'Technology', 'industry': 'Computer Hardware', 'country': 'US', 'city': 'Round Rock', 'latitude': 30.484443, 'longitude': -97.665306}, {'ticker': 'SAN', 'name': 'banco santander', 'ranking': 85, 'mkt_cap': 38.917, 'pe_ratio': 4.9, 'eps': None, 'dividend_pct': None, 'exchange': 'NYSE', 'esg_score': None, 'recom_rating': 3, 'sector': 'Financial Services', 'industry': 'Banks—Diversified', 'country': 'Spain', 'city': 'Madrid', 'latitude': 40.392617, 'longitude': -3.865025}, {'ticker': 'ROSN.ME', 'name': 'rosneft oil', 'ranking': 86, 'mkt_cap': 3909.0, 'pe_ratio': 9.28, 'eps': None, 'dividend_pct': 0.0909, 'exchange': 'MCX', 'esg_score': 42.0, 'recom_rating': None, 'sector': 'Energy', 'industry': 'Oil & Gas Integrated', 'country': 'Russia', 'city': 'Moscow', 'latitude': 55.748061, 'longitude': 37.62016}, {'ticker': '000800.SZ', 'name': 'china faw group', 'ranking': 87, 'mkt_cap': 49.185, 'pe_ratio': None, 'eps': None, 'dividend_pct': 0.0027, 'exchange': 'Shenzhen', 'esg_score': None, 'recom_rating': None, 'sector': 'Consumer Cyclical', 'industry': 'Auto Manufacturers', 'country': 'China', 'city': 'Changchun', 'latitude': 43.820845, 'longitude': 125.252856}, {'ticker': '600500.SS', 'name': 'sinochem group', 'ranking': 88, 'mkt_cap': 14.054, 'pe_ratio': 60.6, 'eps': None, 'dividend_pct': 0.0309, 'exchange': 'Shanghai', 'esg_score': None, 'recom_rating': None, 'sector': 'Industrials', 'industry': 'Conglomerates', 'country': 'China', 'city': 'Shanghai', 'latitude': 31.153421, 'longitude': 121.491673}, {'ticker': 'ENEL.MI', 'name': 'enel', 'ranking': 89, 'mkt_cap': 77.651, 'pe_ratio': 36.38, 'eps': None, 'dividend_pct': 0.0438, 'exchange': 'Milan', 'esg_score': 24.0, 'recom_rating': None, 'sector': 'Utilities', 'industry': 'Utilities—Diversified', 'country': 'Italy', 'city': 'Rome', 'latitude': 41.916277, 'longitude': 12.503025}, {'ticker': 'DTE.DE', 'name': 'deutsche telekom', 'ranking': 90, 'mkt_cap': 69.033, 'pe_ratio': 17.77, 'eps': None, 'dividend_pct': 0.0813, 'exchange': 'XETRA', 'esg_score': 17.0, 'recom_rating': 2.1, 'sector': 'Communication Services', 'industry': 'Telecom Services', 'country': 'Germany', 'city': 'Bonn', 'latitude': 50.707888, 'longitude': 7.12877}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': 'ADRNY', 'name': 'Royal Ahold Delhaize', 'ranking': 127, 'mkt_cap': 28.883, 'pe_ratio': 14.02, 'eps': 1.94, 'dividend_pct': 0.037, 'exchange': 'OTCMKTS', 'esg_score': None, 'recom_rating': 1, 'sector': 'Consumer Defensive', 'industry': 'Grocery Stores', 'country': 'Netherlands', 'city': 'Zaandam', 'latitude': 52.4353, 'longitude': 4.81612}, {'ticker': 'FMCC', 'name': 'Freddie Mac', 'ranking': 128, 'mkt_cap': 1.424, 'pe_ratio': None, 'eps': 0.162, 'dividend_pct': None, 'exchange': 'OTCMKTS', 'esg_score': 25.0, 'recom_rating': 2.8, 'sector': 'Financial Services', 'industry': 'Mortgage Finance', 'country': 'United States', 'city': 'McLean', 'latitude': 54.2244, 'longitude': 9.3756})]
(Background on this error at: http://sqlalche.me/e/9h9h)

## Load price csv files

In [22]:
import glob
priceCSVFiles = glob.glob("data/*.csv")
priceCSVFiles

['data\\600104.SS.csv',
 'data\\ACGBY.csv',
 'data\\ALIZF.csv',
 'data\\AXAHF.csv',
 'data\\BAC.csv',
 'data\\BACHY.csv',
 'data\\BMWYY.csv',
 'data\\CAH.csv',
 'data\\CHL.csv',
 'data\\CICHF.csv',
 'data\\COST.csv',
 'data\\CRWOY.csv',
 'data\\CWYCF.csv',
 'data\\DMLRY.csv',
 'data\\FNMA.csv',
 'data\\GE (1).csv',
 'data\\GE.csv',
 'data\\GM.csv',
 'data\\GOOG.csv',
 'data\\HMC.csv',
 'data\\JPHLF.csv',
 'data\\JPM.csv',
 'data\\KR.csv',
 'data\\LFC.csv',
 'data\\LUKOY.csv',
 'data\\MSFT.csv',
 'data\\MUFG.csv',
 'data\\OGZPY.csv',
 'data\\PSX.csv',
 'data\\VLO.csv',
 'data\\VZ.csv',
 'data\\WBA.csv']

In [23]:
# loop through all data/*.csv files and load them into price table
for file in priceCSVFiles:
    file = file.strip()
    
    print(file)
    price_df = pd.read_csv(file)
    print(price_df.head())
    csv_file = file.split('\\')[1]
    
    # ignore company.csv, we will handle it differetly
    if csv_file == "company.csv":
        continue

    ticker = csv_file.strip('.csv')
    price_df["ticker"] = ticker
    print(ticker)
    
    # rename column heading to match database table columns
    price_df.rename(columns = {"Date":"date", "Open":"open", "High":"high", "Low":"low", "Close":"close", "Adj Close":"adj_close", "Volume":"volume"}, inplace=True)
    # make ticker as the first column
    price_df = price_df[["ticker", "date", "open", "high", "low", "close", "adj_close", "volume"]]
    
    # insert ticker into company table if it doesn't exist yet, because it is the foreign key for the price table
#     connection = engine.connect()
#     result = connection.execute(f"select * from company where ticker = '{ticker}'")
#     rows = result.fetchall()
#     result.close()
#     if len(rows) == 0:
#         print(f"inserting {ticker} into company table")
#         connection.execute(f"insert into company(ticker) values ('{ticker}')")
#         result = connection.execute(f"select * from company where ticker = '{ticker}'")
#         rows = result.fetchall()
#         result.close()
#     for row in rows:
#         print(row)
    
    # load dataframe into database
    try:
        price_df.to_sql(name='price', con=engine, if_exists='append', chunksize = 20, index=False)
    except Exception as e:
        print(e)

# check out the price table
price_df2 = pd.read_sql("select * from price", con=engine)
price_df2.head()
price_df2.count()

data\600104.SS.csv
         Date       Open       High        Low      Close  Adj Close  \
0  2015-06-30  20.799999  22.820000  20.700001  22.600000  16.272430
1  2015-07-01  22.100000  22.580000  21.450001  21.620001  15.566809
2  2015-07-02  21.790001  22.110001  20.600000  21.150000  15.228400
3  2015-07-03  21.250000  21.510000  19.580000  20.260000  14.587584
4  2015-07-06  22.250000  22.260000  21.320000  21.900000  15.768413

      Volume
0  123950995
1   91470020
2   90836062
3   98059183
4  226156959
600104.SS
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(600104.SS, 2015-06-30) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]
[parameters: ({'ticker': '600104.SS', 'date': '2015-06-30', 'open': 20.799999, 'high': 22.82, 'low': 20.700001, 'close': 22.6, 'adj_close': 16.27243, 'volume': 123950995}, {'ticker': '600104.SS', 'date': '2015-07-01', 'open': 22.1, 'high': 22.58, 'low': 21.450001, 'close': 21.620001000000002, 'adj_close': 15.566809, 'volume': 91470020}, {'ticker': '600104.SS', 'date': '2015-07-02', 'open': 21.790001, 'high': 22.110001, 'low': 20.6, 'close': 21.15, 'adj_close': 15.2284, 'volume': 90836062}, {'ticker': '600104.SS', 'date': '2015-07-03', 'open': 21.25, 'high': 21.51, 'low': 19.58, 'close': 20.26, 'adj_close': 14.587584, 'volume': 98059183}, {'ticker': '600104.SS', 'date': '2015-07-06', 'open': 22.25, 'high': 22.26, 'low': 21.32, 'close': 21.9, 'adj_close': 15.768413, 'volume': 226156959}, {'ticker': '600104.SS', 'date': '2015-07-07', 'open': 21.790001, 'high': 23.139999, 'low': 21.42, 'close': 23.08, 'adj_close': 16.618038000000002, 'volume': 214754387}, {'ticker': '600104.SS', 'date': '2015-07-08', 'open': 21.5, 'high': 23.25, 'low': 20.77, 'close': 22.99, 'adj_close': 16.553236, 'volume': 278725362}, {'ticker': '600104.SS', 'date': '2015-07-09', 'open': 22.99, 'high': 25.280001000000002, 'low': 22.01, 'close': 25.23, 'adj_close': 18.166079, 'volume': 170959115}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': '600104.SS', 'date': '2015-07-24', 'open': 22.040001, 'high': 22.1, 'low': 21.200001, 'close': 21.309998999999998, 'adj_close': 16.203745, 'volume': 66803280}, {'ticker': '600104.SS', 'date': '2015-07-27', 'open': 21.0, 'high': 21.200001, 'low': 19.18, 'close': 19.190001000000002, 'adj_close': 14.591735, 'volume': 76376848})]
(Background on this error at: http://sqlalche.me/e/gkpj)
data\ACGBY.csv
         Date   Open   High    Low  Close  Adj Close  Volume
0  2015-06-29  13.17  13.20  13.08  13.08   9.739605   35600
1  2015-06-30  13.05  13.05  12.70  12.80  10.097760   13700
2  2015-07-01  12.98  13.01  12.56  12.56   9.908427   90000
3  2015-07-02  12.67  12.67  12.60  12.65   9.979427    5000
4  2015-07-06  12.18  12.48  12.18  12.34   9.734873    8800
ACGBY
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(ACGBY, 2015-06-29) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]
[parameters: ({'ticker': 'ACGBY', 'date': '2015-06-29', 'open': 13.17, 'high': 13.2, 'low': 13.08, 'close': 13.08, 'adj_close': 9.739605000000001, 'volume': 35600}, {'ticker': 'ACGBY', 'date': '2015-06-30', 'open': 13.05, 'high': 13.05, 'low': 12.7, 'close': 12.8, 'adj_close': 10.097760000000001, 'volume': 13700}, {'ticker': 'ACGBY', 'date': '2015-07-01', 'open': 12.98, 'high': 13.01, 'low': 12.56, 'close': 12.56, 'adj_close': 9.908427, 'volume': 90000}, {'ticker': 'ACGBY', 'date': '2015-07-02', 'open': 12.67, 'high': 12.67, 'low': 12.6, 'close': 12.65, 'adj_close': 9.979427000000001, 'volume': 5000}, {'ticker': 'ACGBY', 'date': '2015-07-06', 'open': 12.18, 'high': 12.48, 'low': 12.18, 'close': 12.34, 'adj_close': 9.734873, 'volume': 8800}, {'ticker': 'ACGBY', 'date': '2015-07-07', 'open': 11.98, 'high': 12.07, 'low': 11.76, 'close': 12.07, 'adj_close': 9.521873, 'volume': 7800}, {'ticker': 'ACGBY', 'date': '2015-07-08', 'open': 11.77, 'high': 11.77, 'low': 11.33, 'close': 11.33, 'adj_close': 8.938095, 'volume': 22700}, {'ticker': 'ACGBY', 'date': '2015-07-09', 'open': 11.59, 'high': 11.65, 'low': 11.44, 'close': 11.48, 'adj_close': 9.056428, 'volume': 15400}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': 'ACGBY', 'date': '2015-07-24', 'open': 11.58, 'high': 11.58, 'low': 11.45, 'close': 11.47, 'adj_close': 9.04854, 'volume': 5400}, {'ticker': 'ACGBY', 'date': '2015-07-27', 'open': 11.28, 'high': 11.3, 'low': 11.23, 'close': 11.23, 'adj_close': 8.859207000000001, 'volume': 8700})]
(Background on this error at: http://sqlalche.me/e/gkpj)
data\ALIZF.csv
         Date        Open        High         Low       Close   Adj Close  \
0  2015-06-29  158.520004  158.520004  158.520004  158.520004  119.699348
1  2015-06-30  156.899994  156.899994  156.850006  156.850006  118.438309
2  2015-07-01  158.000000  158.429993  158.000000  158.429993  119.631386
3  2015-07-02  157.850006  157.850006  157.850006  157.850006  119.193420
4  2015-07-06  157.850006  157.850006  157.850006  157.850006  119.193420

   Volume
0     100
1     100
2     300
3    2100
4       0
ALIZF
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(ALIZF, 2015-06-29) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]
[parameters: ({'ticker': 'ALIZF', 'date': '2015-06-29', 'open': 158.520004, 'high': 158.520004, 'low': 158.520004, 'close': 158.520004, 'adj_close': 119.699348, 'volume': 100}, {'ticker': 'ALIZF', 'date': '2015-06-30', 'open': 156.899994, 'high': 156.899994, 'low': 156.850006, 'close': 156.850006, 'adj_close': 118.438309, 'volume': 100}, {'ticker': 'ALIZF', 'date': '2015-07-01', 'open': 158.0, 'high': 158.429993, 'low': 158.0, 'close': 158.429993, 'adj_close': 119.631386, 'volume': 300}, {'ticker': 'ALIZF', 'date': '2015-07-02', 'open': 157.850006, 'high': 157.850006, 'low': 157.850006, 'close': 157.850006, 'adj_close': 119.19341999999999, 'volume': 2100}, {'ticker': 'ALIZF', 'date': '2015-07-06', 'open': 157.850006, 'high': 157.850006, 'low': 157.850006, 'close': 157.850006, 'adj_close': 119.19341999999999, 'volume': 0}, {'ticker': 'ALIZF', 'date': '2015-07-07', 'open': 151.350006, 'high': 151.350006, 'low': 151.350006, 'close': 151.350006, 'adj_close': 114.28523999999999, 'volume': 100}, {'ticker': 'ALIZF', 'date': '2015-07-08', 'open': 151.350006, 'high': 151.350006, 'low': 151.350006, 'close': 151.350006, 'adj_close': 114.28523999999999, 'volume': 0}, {'ticker': 'ALIZF', 'date': '2015-07-09', 'open': 156.399994, 'high': 156.399994, 'low': 154.639999, 'close': 156.25, 'adj_close': 117.98526000000001, 'volume': 400}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': 'ALIZF', 'date': '2015-07-24', 'open': 153.300003, 'high': 178.570007, 'low': 153.300003, 'close': 166.529999, 'adj_close': 125.74775700000001, 'volume': 300}, {'ticker': 'ALIZF', 'date': '2015-07-27', 'open': 166.529999, 'high': 166.529999, 'low': 166.529999, 'close': 166.529999, 'adj_close': 125.74775700000001, 'volume': 0})]
(Background on this error at: http://sqlalche.me/e/gkpj)
data\AXAHF.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  25.440001  25.440001  25.440001  25.440001  19.326111     400
1  2015-06-30  25.680000  25.780001  25.200001  25.200001  19.143789   18700
2  2015-07-01  25.320000  25.440001  25.209999  25.209999  19.151386    2600
3  2015-07-02  25.070000  25.070000  25.000000  25.000000  18.991856    2400
4  2015-07-06  23.889999  24.219999  23.850000  23.850000  18.118231    3000
AXAHF
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(AXAHF, 2015-06-29) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]
[parameters: ({'ticker': 'AXAHF', 'date': '2015-06-29', 'open': 25.440001000000002, 'high': 25.440001000000002, 'low': 25.440001000000002, 'close': 25.440001000000002, 'adj_close': 19.326110999999997, 'volume': 400}, {'ticker': 'AXAHF', 'date': '2015-06-30', 'open': 25.68, 'high': 25.780001000000002, 'low': 25.200001, 'close': 25.200001, 'adj_close': 19.143789, 'volume': 18700}, {'ticker': 'AXAHF', 'date': '2015-07-01', 'open': 25.32, 'high': 25.440001000000002, 'low': 25.209999, 'close': 25.209999, 'adj_close': 19.151386, 'volume': 2600}, {'ticker': 'AXAHF', 'date': '2015-07-02', 'open': 25.07, 'high': 25.07, 'low': 25.0, 'close': 25.0, 'adj_close': 18.991856, 'volume': 2400}, {'ticker': 'AXAHF', 'date': '2015-07-06', 'open': 23.889999, 'high': 24.219998999999998, 'low': 23.85, 'close': 23.85, 'adj_close': 18.118231, 'volume': 3000}, {'ticker': 'AXAHF', 'date': '2015-07-07', 'open': 23.139999, 'high': 23.879998999999998, 'low': 23.139999, 'close': 23.879998999999998, 'adj_close': 18.14102, 'volume': 2200}, {'ticker': 'AXAHF', 'date': '2015-07-08', 'open': 23.6, 'high': 23.6, 'low': 23.6, 'close': 23.6, 'adj_close': 17.928312, 'volume': 2900}, {'ticker': 'AXAHF', 'date': '2015-07-09', 'open': 24.290001, 'high': 24.290001, 'low': 24.290001, 'close': 24.290001, 'adj_close': 18.452488, 'volume': 400}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': 'AXAHF', 'date': '2015-07-24', 'open': 26.33, 'high': 26.33, 'low': 26.309998999999998, 'close': 26.309998999999998, 'adj_close': 19.987028, 'volume': 600}, {'ticker': 'AXAHF', 'date': '2015-07-27', 'open': 26.309998999999998, 'high': 26.309998999999998, 'low': 26.309998999999998, 'close': 26.309998999999998, 'adj_close': 19.987028, 'volume': 0})]
(Background on this error at: http://sqlalche.me/e/gkpj)
data\BAC.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  17.129999  17.250000  16.860001  16.889999  15.416898  98604200
1  2015-06-30  17.080000  17.129999  16.850000  17.020000  15.535563  89039800
2  2015-07-01  17.250000  17.309999  17.090000  17.219999  15.718122  62317400
3  2015-07-02  17.160000  17.209999  16.889999  17.030001  15.544689  64736500
4  2015-07-06  16.780001  17.010000  16.709999  16.940001  15.462540  58726900
BAC
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(BAC, 2015-06-29) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]
[parameters: ({'ticker': 'BAC', 'date': '2015-06-29', 'open': 17.129998999999998, 'high': 17.25, 'low': 16.860001, 'close': 16.889999, 'adj_close': 15.416898000000002, 'volume': 98604200}, {'ticker': 'BAC', 'date': '2015-06-30', 'open': 17.08, 'high': 17.129998999999998, 'low': 16.85, 'close': 17.02, 'adj_close': 15.535563, 'volume': 89039800}, {'ticker': 'BAC', 'date': '2015-07-01', 'open': 17.25, 'high': 17.309998999999998, 'low': 17.09, 'close': 17.219998999999998, 'adj_close': 15.718122, 'volume': 62317400}, {'ticker': 'BAC', 'date': '2015-07-02', 'open': 17.16, 'high': 17.209999, 'low': 16.889999, 'close': 17.030001000000002, 'adj_close': 15.544689000000002, 'volume': 64736500}, {'ticker': 'BAC', 'date': '2015-07-06', 'open': 16.780001000000002, 'high': 17.01, 'low': 16.709999, 'close': 16.940001000000002, 'adj_close': 15.462539999999999, 'volume': 58726900}, {'ticker': 'BAC', 'date': '2015-07-07', 'open': 16.9, 'high': 16.93, 'low': 16.34, 'close': 16.690001000000002, 'adj_close': 15.234342999999999, 'volume': 115450500}, {'ticker': 'BAC', 'date': '2015-07-08', 'open': 16.42, 'high': 16.5, 'low': 16.219998999999998, 'close': 16.25, 'adj_close': 14.832716, 'volume': 83033000}, {'ticker': 'BAC', 'date': '2015-07-09', 'open': 16.530001000000002, 'high': 16.719998999999998, 'low': 16.450001, 'close': 16.48, 'adj_close': 15.042659, 'volume': 81534400}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': 'BAC', 'date': '2015-07-24', 'open': 18.18, 'high': 18.23, 'low': 17.84, 'close': 17.9, 'adj_close': 16.338810000000002, 'volume': 86364300}, {'ticker': 'BAC', 'date': '2015-07-27', 'open': 17.66, 'high': 17.780001000000002, 'low': 17.5, 'close': 17.67, 'adj_close': 16.128874, 'volume': 93231900})]
(Background on this error at: http://sqlalche.me/e/gkpj)
data\BACHY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  15.700000  16.000000  15.700000  15.770000  12.385944   14800
1  2015-06-30  16.180000  16.190001  16.059999  16.139999  12.676546   22000
2  2015-07-01  16.129999  16.160000  16.010000  16.049999  12.605859   94000
3  2015-07-02  16.270000  16.320000  16.160000  16.160000  12.692255   25500
4  2015-07-06  15.550000  15.580000  15.410000  15.430000  12.118905   74400
BACHY
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(BACHY, 2015-06-29) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]
[parameters: ({'ticker': 'BACHY', 'date': '2015-06-29', 'open': 15.7, 'high': 16.0, 'low': 15.7, 'close': 15.77, 'adj_close': 12.385944, 'volume': 14800}, {'ticker': 'BACHY', 'date': '2015-06-30', 'open': 16.18, 'high': 16.190001000000002, 'low': 16.059998999999998, 'close': 16.139999, 'adj_close': 12.676546, 'volume': 22000}, {'ticker': 'BACHY', 'date': '2015-07-01', 'open': 16.129998999999998, 'high': 16.16, 'low': 16.01, 'close': 16.049999, 'adj_close': 12.605858999999999, 'volume': 94000}, {'ticker': 'BACHY', 'date': '2015-07-02', 'open': 16.27, 'high': 16.32, 'low': 16.16, 'close': 16.16, 'adj_close': 12.692255000000001, 'volume': 25500}, {'ticker': 'BACHY', 'date': '2015-07-06', 'open': 15.55, 'high': 15.58, 'low': 15.41, 'close': 15.43, 'adj_close': 12.118905, 'volume': 74400}, {'ticker': 'BACHY', 'date': '2015-07-07', 'open': 15.07, 'high': 15.08, 'low': 14.39, 'close': 14.81, 'adj_close': 11.631949, 'volume': 122700}, {'ticker': 'BACHY', 'date': '2015-07-08', 'open': 13.63, 'high': 14.02, 'low': 13.5, 'close': 13.65, 'adj_close': 10.720871, 'volume': 155200}, {'ticker': 'BACHY', 'date': '2015-07-09', 'open': 14.06, 'high': 14.06, 'low': 13.8, 'close': 13.92, 'adj_close': 10.932933, 'volume': 60600}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': 'BACHY', 'date': '2015-07-24', 'open': 14.15, 'high': 14.21, 'low': 14.01, 'close': 14.04, 'adj_close': 11.027182, 'volume': 24400}, {'ticker': 'BACHY', 'date': '2015-07-27', 'open': 13.57, 'high': 13.71, 'low': 13.56, 'close': 13.57, 'adj_close': 10.658038000000001, 'volume': 31600})]
(Background on this error at: http://sqlalche.me/e/gkpj)
data\BMWYY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  37.070000  37.279999  36.619999  36.740002  29.286274  128600
1  2015-06-30  37.169998  37.200001  36.360001  36.730000  29.278297  173000
2  2015-07-01  37.259998  37.490002  36.799999  37.000000  29.493523   35400
3  2015-07-02  36.869999  36.869999  36.450001  36.720001  29.270332   29000
4  2015-07-06  35.759998  36.209999  35.439999  35.680000  28.441324   51300
BMWYY
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(BMWYY, 2015-06-29) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]
[parameters: ({'ticker': 'BMWYY', 'date': '2015-06-29', 'open': 37.07, 'high': 37.279999, 'low': 36.619999, 'close': 36.740002000000004, 'adj_close': 29.286274, 'volume': 128600}, {'ticker': 'BMWYY', 'date': '2015-06-30', 'open': 37.169998, 'high': 37.200001, 'low': 36.360001000000004, 'close': 36.73, 'adj_close': 29.278297, 'volume': 173000}, {'ticker': 'BMWYY', 'date': '2015-07-01', 'open': 37.259997999999996, 'high': 37.490002000000004, 'low': 36.799999, 'close': 37.0, 'adj_close': 29.493523, 'volume': 35400}, {'ticker': 'BMWYY', 'date': '2015-07-02', 'open': 36.869999, 'high': 36.869999, 'low': 36.450001, 'close': 36.720001, 'adj_close': 29.270332, 'volume': 29000}, {'ticker': 'BMWYY', 'date': '2015-07-06', 'open': 35.759997999999996, 'high': 36.209998999999996, 'low': 35.439999, 'close': 35.68, 'adj_close': 28.441323999999998, 'volume': 51300}, {'ticker': 'BMWYY', 'date': '2015-07-07', 'open': 34.540001000000004, 'high': 35.330002, 'low': 34.080002, 'close': 35.330002, 'adj_close': 28.162334, 'volume': 108800}, {'ticker': 'BMWYY', 'date': '2015-07-08', 'open': 33.919998, 'high': 34.060001, 'low': 33.639998999999996, 'close': 33.869999, 'adj_close': 26.998528000000004, 'volume': 70600}, {'ticker': 'BMWYY', 'date': '2015-07-09', 'open': 34.889998999999996, 'high': 34.91, 'low': 34.41, 'close': 34.48, 'adj_close': 27.484773999999998, 'volume': 66700}  ... displaying 10 of 20 total bound parameter sets ...  {'ticker': 'BMWYY', 'date': '2015-07-24', 'open': 33.66, 'high': 33.740002000000004, 'low': 33.119999, 'close': 33.150002, 'adj_close': 26.424606, 'volume': 105600}, {'ticker': 'BMWYY', 'date': '2015-07-27', 'open': 33.0, 'high': 33.060001, 'low': 32.77, 'close': 32.82, 'adj_close': 26.161552, 'volume': 58800})]
(Background on this error at: http://sqlalche.me/e/gkpj)
data\CAH.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-06-29  85.129997  85.610001  83.629997  83.739998  71.500801  3795600
1  2015-06-30  84.629997  84.870003  83.570000  83.650002  71.423965  4071800
2  2015-07-01  84.290001  85.129997  84.180000  84.949997  72.533951  3395000
3  2015-07-02  85.250000  85.459999  84.139999  84.500000  72.149712  1556800
4  2015-07-06  83.690002  84.879997  83.629997  84.540001  72.183876  2679300
CAH
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_pkey"
DETAIL:  Key (ticker, date)=(CAH, 2015-06-29) already exists.

[SQL: INSERT INTO price (ticker, date, open, high, low, close, adj_close, volume) VALUES (%(ticker)s, %(date)s, %(open)s, %(high)s, %(low)s, %(close)s, %(adj_close)s, %(volume)s)]

data\CRWOY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  27.030001  27.030001  27.030001  27.030001  24.905254       0
1  2015-06-30  27.030001  27.030001  27.030001  27.030001  24.905254       0
2  2015-07-01  27.350000  27.350000  27.350000  27.350000  25.200098     400
3  2015-07-02  27.350000  27.350000  27.350000  27.350000  25.200098       0
4  2015-07-06  27.350000  27.350000  27.350000  27.350000  25.200098       0
CRWOY
data\CWYCF.csv
         Date  Open  High   Low  Close  Adj Close  Volume
0  2015-06-29  1.49  1.53  1.49   1.53   1.395204    2000
1  2015-06-30  1.52  1.52  1.52   1.52   1.386085   23700
2  2015-07-01  1.52  1.52  1.52   1.52   1.386085       0
3  2015-07-02  1.52  1.52  1.52   1.52   1.386085       0
4  2015-07-06  1.52  1.52  1.52   1.52   1.386085    2000
CWYCF
data\DMLRY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  23.350000  23.475000  23.022499  23.022499  17.914280  165600
1  2015-06-30  23.305000  23.305000  22.764999  22.915001  17.830633  114400
2  2015-07-01  23.415001  23.575001  23.112499  23.197500  18.050451   88800
3  2015-07-02  23.157499  23.157499  22.910000  23.007500  17.902607   60000
4  2015-07-06  22.602501  22.855000  22.485001  22.584999  17.573851  120400
DMLRY
data\FNMA.csv
         Date  Open  High   Low  Close  Adj Close   Volume
0  2015-06-29  2.37  2.37  2.27   2.30       2.30  5323200
1  2015-06-30  2.30  2.35  2.29   2.33       2.33  1991500
2  2015-07-01  2.34  2.42  2.31   2.31       2.31  5585900
3  2015-07-02  2.32  2.34  2.28   2.30       2.30  1837700
4  2015-07-06  2.29  2.30  2.20   2.22       2.22  3928900
FNMA
data\GE (1).csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  25.865385  25.932692  25.509615  25.615385  22.482134  34707100
1  2015-06-30  25.788462  25.923077  25.509615  25.548077  22.423065  36980100
2  2015-07-01  25.644230  25.836538  25.451923  25.634615  22.499014  31644400
3  2015-07-02  25.673077  25.798077  25.576923  25.750000  22.600285  27042300
4  2015-07-06  25.509615  25.615385  25.192308  25.298077  22.203640  28972400
GE (1)
data\GE.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  25.865385  25.932692  25.509615  25.615385  22.482134  34707100
1  2015-06-30  25.788462  25.923077  25.509615  25.548077  22.423065  36980100
2  2015-07-01  25.644230  25.836538  25.451923  25.634615  22.499014  31644400
3  2015-07-02  25.673077  25.798077  25.576923  25.750000  22.600285  27042300
4  2015-07-06  25.509615  25.615385  25.192308  25.298077  22.203640  28972400
GE
data\GM.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  34.119999  34.169998  33.200001  33.230000  26.810654  18717700
1  2015-06-30  33.500000  33.570000  33.060001  33.330002  26.891342  12911800
2  2015-07-01  33.610001  33.610001  32.680000  33.040001  26.657364  16169500
3  2015-07-02  33.189999  33.450001  33.060001  33.230000  26.810654   8646400
4  2015-07-06  32.849998  33.119999  32.610001  32.650002  26.342701  10433100
GM
data\GOOG.csv
         Date        Open        High         Low       Close   Adj Close  \
0  2015-06-29  525.010010  528.609985  520.539978  521.520020  521.520020
1  2015-06-30  526.020020  526.250000  520.500000  520.510010  520.510010
2  2015-07-01  524.729980  525.690002  518.229980  521.840027  521.840027
3  2015-07-02  521.080017  524.650024  521.080017  523.400024  523.400024
4  2015-07-06  519.500000  525.250000  519.000000  522.859985  522.859985

    Volume
0  1937800
1  2217200
2  1961000
3  1235900
4  1280500
GOOG
data\HMC.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  32.310001  32.349998  32.000000  32.000000  27.334707  415700
1  2015-06-30  32.000000  32.630001  32.000000  32.400002  27.676395  473400
2  2015-07-01  32.070000  32.099998  31.820000  31.879999  27.232204  413600
3  2015-07-02  32.630001  32.779999  32.580002  32.650002  28.051130  525100
4  2015-07-06  32.419998  32.580002  32.369999  32.439999  27.870707  401900
HMC
data\JPHLF.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-12-11  16.299999  16.299999  16.299999  16.299999 -35.463943     120
1  2015-12-14  16.299999  16.299999  16.299999  16.299999 -35.463943       0
2  2015-12-15  16.299999  16.299999  16.299999  16.299999 -35.463943       0
3  2015-12-16  16.299999  16.299999  16.299999  16.299999 -35.463943       0
4  2015-12-17  16.299999  16.299999  16.299999  16.299999 -35.463943       0
JPHLF
data\JPM.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  67.680000  68.260002  67.160004  67.199997  58.350697  19934400
1  2015-06-30  67.889999  68.110001  67.160004  67.760002  58.836956  20677400
2  2015-07-01  68.120003  68.389999  67.779999  68.070000  59.492443  13964400
3  2015-07-02  67.949997  68.129997  67.190002  67.519997  59.011749  12822900
4  2015-07-06  66.879997  67.459999  66.540001  67.330002  58.845680  13527100
JPM
data\KR.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-06-29  36.485001  36.779999  36.230000  36.334999  33.215343  6720400
1  2015-06-30  36.514999  36.654999  36.244999  36.255001  33.142227  7073600
2  2015-07-01  36.544998  36.735001  36.320000  36.615002  33.471310  6849600
3  2015-07-02  36.715000  36.849998  36.430000  36.555000  33.416458  3868200
4  2015-07-06  36.395000  36.904999  36.380001  36.785000  33.626720  5766600
KR
data\LFC.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  21.100000  21.250000  20.830000  20.860001  19.182837  600100
1  2015-06-30  21.799999  21.889999  21.580000  21.760000  20.010475  679700
2  2015-07-01  21.639999  21.670000  21.209999  21.260000  19.550674  557600
3  2015-07-02  21.459999  21.570000  21.230000  21.299999  19.587460  433100
4  2015-07-06  20.549999  20.700001  20.410000  20.459999  18.814997  642100
LFC
data\LUKOY.csv
         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-06-29  43.560001  43.619999  42.980000  43.099998  29.466204   30000
1  2015-06-30  44.119999  44.910000  43.869999  44.910000  30.703644  122800
2  2015-07-01  44.110001  44.110001  43.590000  43.590000  29.801197   53900
3  2015-07-02  43.860001  44.340000  43.860001  44.299999  30.286612   76500
4  2015-07-06  43.340000  43.520000  42.980000  43.139999  29.493546   60600
LUKOY
data\MSFT.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  45.040001  45.230000  44.360001  44.369999  40.155910  34081700
1  2015-06-30  44.709999  44.720001  43.939999  44.150002  39.956821  35945400
2  2015-07-01  44.459999  45.230000  44.099998  44.450001  40.228317  28343900
3  2015-07-02  44.480000  44.750000  44.060001  44.400002  40.183064  21752000
4  2015-07-06  43.959999  44.480000  43.950001  44.389999  40.174019  23034000
MSFT
data\MUFG.csv
         Date  Open  High   Low  Close  Adj Close   Volume
0  2015-06-29  7.29  7.30  7.21   7.22   6.262765  1273500
1  2015-06-30  7.25  7.26  7.18   7.22   6.262765  1021500
2  2015-07-01  7.31  7.34  7.29   7.30   6.332158   992100
3  2015-07-02  7.27  7.29  7.23   7.29   6.323483   838900
4  2015-07-06  7.22  7.27  7.20   7.23   6.271439   891300
MUFG
data\OGZPY.csv
         Date  Open  High   Low  Close  Adj Close  Volume
0  2015-06-29  5.17  5.18  5.07   5.08   3.098885  501600
1  2015-06-30  5.12  5.28  5.10   5.27   3.214788  449200
2  2015-07-01  5.25  5.26  5.16   5.17   3.153786  180600
3  2015-07-02  5.23  5.27  5.22   5.22   3.184287  380900
4  2015-07-06  5.04  5.05  4.96   4.98   3.037883  583500
OGZPY
data\PSX.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-06-29  78.750000  79.410004  78.459999  78.489998  66.613686  4888300
1  2015-06-30  79.239998  81.360001  79.180000  80.559998  68.370468  4628100
2  2015-07-01  80.639999  81.860001  80.519997  81.300003  68.998497  3779600
3  2015-07-02  81.470001  82.180000  81.000000  81.449997  69.125801  3388900
4  2015-07-06  80.389999  81.790001  79.750000  81.540001  69.202164  3978700
PSX

data\VLO.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  60.279999  61.180000  60.119999  60.560001  49.787365   5457400
1  2015-06-30  61.119999  63.169998  61.060001  62.599998  51.464470  10430300
2  2015-07-01  63.090000  64.970001  62.799999  64.470001  53.001839   9035100
3  2015-07-02  64.680000  65.680000  64.279999  64.720001  53.207367   6007700
4  2015-07-06  64.139999  65.699997  63.599998  65.339996  53.717072   7291300
VLO
data\VZ.csv
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-06-29  47.279999  47.720001  46.750000  46.770000  37.344421  15032400
1  2015-06-30  47.139999  47.250000  46.599998  46.610001  37.216671  15044100
2  2015-07-01  46.639999  47.110001  46.570000  47.000000  37.528076  12545900
3  2015-07-02  47.230000  47.380001  47.110001  47.200001  37.687759   9872400
4  2015-07-06  47.060001  47.139999  46.799999  47.040001  37.560009  12051700
VZ
data\WBA.csv
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-06-29  86.010002  86.160004  84.260002  84.279999  74.667015  2797000
1  2015-06-30  85.190002  85.440002  84.360001  84.440002  74.808769  3778800
2  2015-07-01  85.080002  85.860001  84.849998  85.769997  75.987053  2834900
3  2015-07-02  86.089996  86.279999  85.639999  85.809998  76.022514  2811700
4  2015-07-06  84.930000  85.849998  84.730003  85.389999  75.650414  3238300
WBA

ticker       40128
date         40128
open         40128
high         40128
low          40128
close        40128
adj_close    40128
volume       40128
dtype: int64